.width-50 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.width-70 {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/*HEADER*/

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.site-icon {
  width: 50px;
  border: 3px solid black;
  border-radius: 15px;
  padding: 10px;
}

.site-title {
  margin-left: 20px;
  font-weight: 500;
}

.add-book-button {
  border: 1px solid black;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
}

/*MAIN*/

#books-container {
  border-top: 2px solid black;
}

.books-container-title {
  margin-left: 100px;
  font-weight: 500;
}

#books-table {
  /*border-top: 2px solid black;*/
}

.books-table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
}

.books-table-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-top: 0;
}

.header-wrapper:first-of-type {
  width: 5%;
}

.header-wrapper {
  border-right: 1px solid black;
  width: 24%;
  text-align: center;
}

.action-icon {
  width: 30px;
  padding: 5px;
  cursor: pointer;
  margin-right: 15px;
}

.arrow {
  width: 25px;
  padding: 3px !important;
  border: 2px solid black;
  border-radius: 5px;
}

.action-icon:last-of-type {
  margin-right: 0;
}

.progress-scale {
  width: 10rem;
  border: 1px solid black;
  border-radius: 10px;
  padding: 6px 50px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.progress-fill {
  background-color: black;
  width: 100%;
  height: 12px;
  border-radius: 10px 0px 0px 10px;
}

.ant-progress {
  width: 250px !important;
}

.ant-progress-inner {
  border: 1px solid rgb(0, 0, 0);
}

/*MODAL*/

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}

.modal-content {
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  z-index: 100;
}

.modal.active {
  transform: scale(1);
}

.form_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

form {
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
  width: 270px;
}

form input {
  width: 180px;
}

.checkbox {
  width: 100px;
}

form button {
  margin-top: 20px;
}

.iyTLPo {
  z-index: -1;
}

.modal-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal-icon {
  width: 35px;
}

.cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.deadline {
  width: 120px;
}

.delete-modal {
  width: 300px;
  text-align: center;
}

.delete-modal h2 {
  display: flex;
}

.exclamation-mark {
  padding: 1px 14px;
  border: 2px solid black;
  border-radius: 50%;
  margin-right: 10px;
}

.cont button,
.button-wrapper button {
  font-size: 15px;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button-wrapper button {
  width: 70px;
}

.note-modal button {
  width: 90px;
}

textarea {
	margin-bottom: 20px;
	width: 100%;
	max-width: 300px;
}

.sc-bcXHqe {
	z-index: -1;
}